* {
  border-sizing : border-box;
  padding: 0;
}

:root {
  --primary : #151515;
  --secondary : #B0DAFF;
  --border : #ffffff12;
}
::-webkit-scrollbar{width:.5rem;border-left:1px solid var(--border);}
::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: .1rem;
}

body {
  background-color: var(--primary);
  font-family: 'Roboto', sans-serif;
  color: white;
  margin: 0;
  overflow-x: hidden;
}


/* navbar section */
nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--secondary);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
  background-color: var(--primary);
  overflow-x: hidden;
}
nav h1 {
  margin-left: 2rem;
  margin-right: auto;
  border-bottom: 3px solid var(--secondary);
  color: var(--secondary);
}
nav input {
  border: none;
  padding: 0.85rem;
  background-color: var(--border);
  color: white;
  border-radius: 10px;
  margin-right: 3rem;
  margin-left: auto;
  margin-top: .8rem;
  width: 20%;
}
nav input::placeholder {
  color: white;
}



/* main section*/
div#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem 2rem 1rem 2rem;
}


/* game list view */
div.gameView {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  margin: 3rem 0 3rem 0;
  position: relative;
}
span.loadMore  {
  position: absolute;
  border: none;
  width: 1rem;
  background-color: var(--border);
  bottom: -1.5rem;
  padding: .7rem .8rem .7rem .8rem;
  border-radius: 5rem;
  margin-left: auto;
  bottom: -1.5rem;
  left: 50vw;
}
span.loadMore:hover {
  transform: scale(1.1);
  cursor: pointer;
}




/* game components that shows the cards of the games */
div#gameComponent {
  background-color: var(--border);
  border-radius: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column; 
  height: 400px;
}
div#gameComponent:hover {
  transform: scale(1.05);
  cursor: pointer;
}
div.img {
  width: 100%;
  overflow: hidden;
}
div.img img {
  width: 100%;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  overflow: hidden;
  object-fit: fill;
}
div.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0.5rem 0 1rem;
  padding: 0.2rem 1rem 1rem 0.5rem;
}
div.detail p {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 10;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid var(--border);
}
div.detail span {
  float: right;
  color: white;
  
}
div.detail p.last {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}




/* footer section */
div#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem 0 0 0;
  color: black;
  background-color: var(--secondary);
  gap: 6px;
  height: 20vh;
  width: 100vw;
}
div.foot_container {
  margin: 0.2rem auto 0.2rem auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
div.foot_container div {
  display: flex;
  justify-content: center;
  gap: 6px;
}
div.foot_container div a:hover {
  transform: scale(1.25);
}

/* titles */
h1.titles {
  display: inline;
  margin-top: 8rem;
  padding-bottom: 1rem;
  border-bottom: 3px solid var(--secondary);
  color: var(--secondary);
}
h1.first {
  color: var(--secondary);
}
div#game-list > div {
  margin-top: 1.5rem;
}
a {
  text-decoration: none;
  color: white;
}



/* game detail component */
div#gameDetail {
  padding: 0 2rem;
  margin: 6rem 0;
}
div#gameDetail h1 {
  color: var(--secondary);
  margin-bottom: .5rem;
}
img.detail-background {
  width: 600px;
  height: 370px;
  border-radius: .2rem;
}
div#screenshoots-view {
  border-top: 4px solid var(--border);
  padding: 3rem ;
  margin-top: 2rem;
}
div#screenshoots-view  h2 {
  margin-bottom: 2rem;
  text-align: center;
  color: var(--secondary);
}
div.screenshots-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(500px, 440px));
  gap: 1.5rem;
  justify-content: center;
}
div.screenshots-container img {
  width: 500px;
  height: 280px;
  border-radius: 3px;
  object-fit: cover;
}
div.description {
  margin: 1rem 0;
}
div.description h2 {
  display: inline;
  border-bottom: 3.5px solid var(--border) ;
  padding: .2rem 0;
  color: var(--secondary);
}
div.description p {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  width: 95vw;
  line-height: 1.8;
}
div.header-detail {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}
div.more-detail {
  display: flex;
  flex-direction: column;
  gap: .2rem;
}
div.more-detail h2 {
  color: var(--secondary);
  border-bottom: 3px solid var(--border);
  display: inline;
}
div.requirements p {
  line-height: 1.5;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
div.platforms img {
  width: 35px;
  height: 35px;
  margin: 1.8rem .75rem;
}
img.stars {
  width: 1rem;
  height: 1rem;
  margin-bottom: 1rem;
  margin-left: .25rem;
}




/* input filter search section */
div#root-input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-right: 2.5rem;
  width: 30%;
}
div.input-holder {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
div.input-holder input {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
div.input-holder i {
  position: absolute;
  top: 1.7rem;
  right: 1rem;
}
div.hidden-filter {
  position: fixed;
  top: 3.8rem;
  z-index: 3;
  width: 30%;
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;
  border-radius: .5rem;
}
div.each-data {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: .5rem;
  padding: .3rem;
  gap: .5rem;
  border-bottom: 2px solid var(--primary);
}
div.each-data img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}
div.searchShow {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
  flex-direction: column;
  gap: .1rem;
  color: var(--primary);
}
div.searchShow span{
  margin: 0;
}
div.searchShow p {
  margin: .1rem;
  font-weight: 400;
}




/* Media query */
@media (max-width: 820px) {
  body {
    overflow-x: hidden;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
  }
  div#root-input {
    width: 90%;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  div.hidden-filter {
    top: 8.5rem;
    width: 90%;
  }
  h1.titles {
    padding-bottom: 0;
  }
  div.screenshots-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  div#game-list > div {
    margin-top: 65px;
  }
  div.screenshots-container img {
    width: 250px;
    height: 200px;
  }
  div.header-detail img.detail-background {
    width: 330px;
    height: 210px;
  }
  main {
    padding-top: 4.5rem;
    width: 100vw;
  }
  div.gameView {
    margin: 2rem auto;
    /* width: 100%; */
  }
  div#game-list {
    margin: 0 auto;
  }
  div.header-detail {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    gap: 2rem;
  }
  div#gameDetail h1 {
    margin-top: 8rem;
  }
  div.more-detail {
    justify-content: start;
    align-items: start;
    margin-left: 0px;
    margin-bottom: 30px;
  }
  div.description p {
    width: 330px;
  }
  span.loadMore {
    left: 45%;
  }
  div#footer {
    width: 100vw;
  }
  div.footer-icons a {
    margin-bottom: 1rem;
  }
}
@media (min-width: 650px) {
  div#footer {
    width: 100vw;
  }
}
@media (min-width: 2560px)  {
  div.gameView {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 3rem auto;
    gap: 2rem;
  }
  div#gameComponent {
    height: 600px;
  }
}



/* 404 page error */
#page404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  margin: 0 auto;
}
#page404 h2 {
  border-bottom: 3px solid var(--secondary);
  color: var(--secondary);
  padding-bottom: .3rem;
  font-size: 3rem;
}
#page404 .Link {
  padding: .6rem .8rem;
  margin-left: .5rem;
  color: var(--primary);
  background-color: var(--secondary);
  border-radius: .3rem;
}
#page404 .p404 {
  font-size: 1.2rem;
}


